<html ng-controller="AppCtrl">
	<head>
		<title>Easel</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/slider.css">
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle nav</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">easel</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">dashboard</a></li>
					<li><a href="#">led strip</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" id="refresh-button"><span class="glyphicon glyphicon-refresh"></span></a></li>
				</ul>
			</div>
		</nav>

		<div class="container" id="dashboard">
			
		</div>

		<script type="text/template" id="template-led_strip">
			<div class="module">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ name }}</h3>
					</div>
					<div class="panel-body">
						<button type="button" id="power" class="btn btn-lg {{#if power }}btn-success{{else}}btn-danger{{/if}}">
							<span class="glyphicon glyphicon-off"></span>
						</button>
						{{#if power}}
						<p>
							<b>R</b>
							<input type="text" class="span2" value="" id="r" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="{{color.r}}" data-slider-id="RC" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-selection="after" />
						</p>
						<p>
							<b>G</b>
							<input type="text" class="span2" value="" id="g" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="{{color.g}}" data-slider-id="GC" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-selection="after" />
						</p>

						<p>
							<b>R</b>
							<input type="text" class="span2" value="" id="b" data-slider-min="0" data-slider-max="255" data-slider-step="1" data-slider-value="{{color.b}}" data-slider-id="RB" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-selection="after" />
						</p>
						{{/if}}
					</div>
				</div>
			</div>
		</script>

		<script src="/js/jquery-1.10.2.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/handlebars.js"></script>
		<script src="/js/underscore.js"></script>
		<script src="/js/backbone-min.js"></script>
		<script src="/js/www/backbone-app.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/bootstrap-slider.js"></script>
	</body>

</html>